language: ruby
rvm:
  - 2.0.0
  - 1.9.3
  - jruby-18mode # JRuby in 1.8 mode
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-18mode
  - rbx-19mode
  - ruby-head
  - jruby-head
  - 1.8.7
  - ree
matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode
    - rvm: rbx-18mode
    - rvm: rbx-19mode
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: ree
script: ruby check-syntax.rb
notifications:
  irc: "irc.freenode.org#nadoka_jp"
