language: ruby
rvm:
  - 2.0.0
  - 1.9.3
  - jruby-18mode # JRuby in 1.8 mode
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-18mode
  - rbx-19mode
  - ruby-head
  - jruby-head
  - 1.8.7
  - ree
script: ruby check_syntax.rb

notifications:
  irc: "irc.freenode.org#nadoka_jp"
